
html {
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614724673_158-p-foni-dlya-lendinga-184.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
  .box {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
      background: rgba(3, 3, 3, 0.40);
      width:350px;
      height:250px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    
  }
  
  .logo2{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 0;
    right: 0;
  
    width: 100px;
    height: 100px;
  
  
  }
  input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
  }
  
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }
  
  .login,
  input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
  }
  
  
  .login{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
  }
  
  .login:hover{
    opacity: 0.7;
  }
  
  
  .header {
      position: absolute;
      width: 100%;
      height: 50px;
      display: block;
       top: 0;
       left: 0;
      background-color: #ffd740;
      color: #673ab7;
  }
  
  .h2{
      display: block;
      position: relative;
      text-align: center;
      top: -10px;
      left: 0;
  }
  
  .naw {
      position: absolute;
      width: 100%;
      height: 50px;
      display: flex;
       top: 50px;
       left: 0;
      background-color: #673ab7;
  }
  
  #menuToggle
   {
     display: block;
     position: relative;
     top: 1rem;
     left: 1rem;
     
     z-index: 1;
     
     -webkit-user-select: none;
     user-select: none;
   }
   
   #menuToggle a
   {
     text-decoration: none;
     color: #232323;
     
     transition: color 0.3s ease;
   }
   
   #menuToggle a:hover
   {
     color: tomato;
   }
   
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; 
     z-index: 2; 
     
     -webkit-touch-callout: none;
   }
   
  
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background: #cdcdcd;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 4px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
  
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }
   
  
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
  
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
  
   #menu
   {
     position: absolute;
     width: 300px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {
     padding: 10px 0;
     font-size: 22px;
   }
   
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
  
   
   .img {
      align-items: center;
      position: relative;
      left: 43rem;
      top: 0;
      display: flex;
      height: 50px;
      width: 50px;
      cursor: pointer;
      
   }
  
  .men {
      left: 50rem;
      position: absolute;
      list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  
  .m {
      left: 2rem;
      float: left;
    }
    
    .m  {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .m:hover:not(.active) {
      height: 20px;
      background-color: #6624da;
    }
    
    .active {
      background-color: #04AA6D;
    }
  
  
    h3 {
      font-size: -522rem;
      size: 20px;
      display: block;
      position: relative;
      text-align: center;
      top: -20px;
      left: 0;
      
    }
    .header-header {
      position: absolute;
      width: 100%;
      height: 50px;
      display: block;
       top: 5.9999rem;
       left: 0;
      background-color: #ffd740;
      color: #673ab7;
  }
  
  .footer{ 
    top: auto;
    background: #673ab7;
    position:absolute; 
    bottom:0;
    left: 0; 
    width:100%; 
    height:100px; 
  }
  
  
  
  
  .footermenu {
    top: 0rem;
    display: block;
    left: 50rem;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .fa {
    
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    border-radius: 100%;
    background: #3B5998;
    color: white;
  }
  
  
  .fa-linkedin {
    border-radius: 100%;
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    border-radius: 100%;
    background: #125688;
    color: white;
  }
  
  .fa-youtube {
    border-radius: 100%;
    background: #bb0000;
    color: white;
  }
  